#google {
	position: absolute;
	left: 500px;
	top: 190px;
	}

#logo {
	height:130px;
	width: 310px;
}

.searchbar {
	width: 600px;
	height: 40px;
}

.search {
	position: absolute;
	left: 360px;
	top: 325px;
}

#gsearch {
	position: absolute;
	left: 150px;
	top: 60px;
	width: 150px;
	height: 35px;
	opacity: 0.5;
}

#ifl {
	position: absolute;
	left: 315px;
	top: 60px;
	width: 150px;
	height: 35px;
	opacity: 0.5;
}

input[type=submit] {
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color: black;
	background-color: light-gray;
}

input[type=text] {
	border-radius: 40px;
}

.text {
	font-size: 12px;
	position: absolute;
	top: 450px;
	left: 575px;	
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
	width: 100%;
	background-color: #333;
}

#irish {
	text-decoration: none;
}

li {
  	display: inline;
	width: 50px;
}


header li a  {
  	color: #666;
  	padding: 15px 10px;
  	text-decoration: none;
	float: right;
	font-size: 12px;
	color: black;
}

#dots { 
	height: 25px;
	width: 25px;
}


.footer1 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    line-height: 40px;
}

.footer2 {
    border-top: 1px solid #e4e4e4;
}

.nav1 {
    padding-left: 20px;
    display: inline-block;
}

.nav2 {
    text-align: right;
    float: right;
    padding-right: 20px;
    display: inline-block;
    bottom: 0;
}

.links {
    margin: 0 9px;
    color: rgba(0,0,0,.54);
    font-size: 13px;
    text-decoration: none;
    font-family: Arial;
    padding-right: 4px;
}

.country {
    margin: 0 9px;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    padding-left: 20px;
    font-family: Arial;
}